/* CSS reset */
*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    z-index: 1;
    background: rgb(0, 0, 0, 0.35);
    width: 100%;
}

.navbar .navbar_logo{
    width: 50px;
    /* Set font to white color */
    filter: brightness(0) invert(1);
}

.navbar h1{
    color: white;
    padding: 0 10px;
    font-size: 28px;
    font-weight: 900;
    font-family: monospace;
}

.home{
    position: relative;
}

.home .video_bg{
    width: 100%;
    height: 100vh;
}

.home .video_bg video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Set display to block to remove horizontal line at most bottom */
    display: block;
}

.home .toast_position{
    text-align: center;
    top: 20%;
    left: 50%;
    font-size: 15px;
    font-weight: 900;
    transform: translate(-50%, -50%);
}

.home .password_generator{
    width: 800px;
    height:300px;
    /* Black color with 0.35 opactiy */
    background: rgb(0, 0, 0, 0.35);
    border-radius: 24px;
    position: absolute;
    /* Push down 50% from the top */
    top: 50%;
    /* Push right 50% from the left */
    left: 50%;
    /* Move the distance of half of the width on x-axis, move the distance of half of the height in y-axis */
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
}

.home .password_generator label{
    display: inline-block;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: white;
}

.home .password_generator .content_group_1{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 15px 0;
}

.home .password_generator .content_group_1 .display_box{
    flex: 80%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    /* By default, flex items won't shrink below their minimum content size */
    min-width: 0;
    /* Text appear next line instead of overflowing */
    word-wrap: break-word;
}

.home .password_generator .content_group_1 button{
    width: 40px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .password_generator .content_group_1 img{
    width: 30px;
    filter: brightness(0);
    cursor: pointer;
}

.home .password_generator .content_group_1 .refresh_icon{
    transition: .5s;
}

.home .password_generator .content_group_1 .refresh_icon:hover{
    transform: rotate(180deg);
}

.home .password_generator .content_group_1 .copy_icon{
    transform: .1s;
}

.home .password_generator .content_group_1 .copy_icon:hover{
    transform: scale(1.1);
}

.home .password_generator .content_group_2{
    display: flex;
    height: 50px;
    gap: 50px;
    margin: 0 0 15px 0;
}

.home .password_generator .content_group_2 select{
    font-size: 16px;
}

.home .password_generator .content_group_2 .password_type{
    border-radius: 30px;
    text-align: center;
    flex: 1;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.home .password_generator .content_group_2 .password_type:focus{
    border: 1px solid #0561CB;
    outline: 3px solid #0561CB;
}

.home .password_generator .content_group_2 .slider_container{
    background-color: white;
    border-radius: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .password_generator .content_group_2 .slider_container .slider_content{
    display: flex;
    gap: 10px;
    align-items: center;
}

.home .password_generator .content_group_2 .slider_container .slider_content label{
    color: black;
    font-weight: 600;
}

.home .password_generator .content_group_2 .slider_container .slider_content .slider {
    cursor: pointer;
    width: 12rem;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 8px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.home .password_generator .content_group_2 .slider_container .slider_content .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.home .password_generator .content_group_2 .slider_container .slider_content .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0561CB;
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;
}
  
.home .password_generator .content_group_2 .slider_container .slider_content .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0561CB;
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;
}

.home .password_generator .content_group_3{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 40px;
}

.home .password_generator .content_group_3 .checkbox_label{
    display: flex;
    align-items: center;
}

.home .password_generator .content_group_3 .checkbox_label label{
    font-weight: 600;
    padding: 0 10px;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: grid;
    place-content: center;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]::before{
    content: "\2714";
    font-size: 1.5em;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]:focus {
    outline: 3.5px solid #0561CB;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Mobile view */
@media screen and (max-width: 800px){

    .navbar .navbar_logo{
        width: 30px;
    }

    .navbar h1{
        font-size: 18px;
    }

    .home .password_generator{
        width: 320px;
        height: 320px;
    }

    .home .password_generator label{
        font-size: 14px;
    }

    .home .password_generator .content_group_1{
        height: 50px;
    }

    .home .password_generator .content_group_1 .display_box{
        font-size: 14px;
        
    }

    .home .password_generator .content_group_1 button{
        width: 24px;
        height: 30px;
    }
    
    .home .password_generator .content_group_1 img{
        width: 18px;
    }

    .home .password_generator .content_group_2{
        flex-direction: column;
        height: 100px;
        gap: 40px;
        margin: 0 0 20px 0;
    }

    .home .password_generator .content_group_2 select{
        font-size: 14px;
    }

    .home .password_generator .content_group_2 .slider_container .slider_content .slider {
        height: 5px;
    }

    .home .password_generator .content_group_2 .slider_container .slider_content .slider::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
    }
      
    .home .password_generator .content_group_2 .slider_container .slider_content .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
    }

    .home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]::before{
        font-size: 1.2em;
    }

    .Toastify__toast-container{
        width: 200px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .Toastify__toast{
        border-radius: 4px !important;
        margin-bottom: auto !important;
        min-height: 0 !important;
    }

    .Toastify__toast-body{
        font-size: 12px !important;
    }
}


