*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* navigation bar */
.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: 1;
    background: rgb(0, 0, 0, 0.35);
    width: 100%;
}

.navbar .navbar_logo{
    width: 50px;
    filter: brightness(0) invert(1);
}

.navbar h1{
    color: white;
    font-size: 28px;
    font-weight: 900;
    padding: 0 10px;
}

.home{
    position: relative;
}

.home .video_bg{
    width: 100%;
    height: 100vh;
}

.home .video_bg video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.home .toast_position{
    text-align: center;
    font-size: 16px;
    top: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.home .password_generator{
    width: 800px;
    height:300px;
    background: rgb(0, 0, 0, 0.35);
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
}

.home .password_generator label{
    display: inline-block;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: white;
}

.home .password_generator .content_group_1{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 15px 0;
}

.home .password_generator .content_group_1 .display_box{
    flex: 80%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.home .password_generator .content_group_1 button{
    width: 40px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .password_generator .content_group_1 img{
    width: 30px;
    filter: brightness(0);
    cursor: pointer;
}

.home .password_generator .content_group_2{
    display: flex;
    height: 50px;
    gap: 50px;
    margin: 0 0 15px 0;
}

.home .password_generator .content_group_2 select{
    font-size: 16px;
}

.home .password_generator .content_group_2 .password_type{
    border-radius: 30px;
    text-align: center;
    flex: 1;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.home .password_generator .content_group_2 .password_type:focus{
    border: 1px solid #0561CB;
    outline: 3px solid #0561CB;
}

.home .password_generator .content_group_2 .slider_container{
    background-color: white;
    border-radius: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .password_generator .content_group_2 .slider_container .slider_content{
    display: flex;
    gap: 10px;
}

.home .password_generator .content_group_2 .slider_container .slider_content label{
    color: black;
    font-weight: 600;
}

.home .password_generator .content_group_2 .slider_container .slider_content .slider{
    width: 200px;
    cursor: pointer;
}




.home .password_generator .content_group_3{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 40px;
}

.home .password_generator .content_group_3 .checkbox_label{
    display: flex;
    align-items: center;
}

.home .password_generator .content_group_3 .checkbox_label label{
    font-weight: 600;
    padding: 0 10px;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: grid;
    place-content: center;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]::before{
    content: "\2714";
    font-size: 1.5em;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]:focus {
    outline: 3.5px solid #0561CB;
}

.home .password_generator .content_group_3 .checkbox_label input[type="checkbox"]:hover {
    cursor: pointer;
}


