*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* navigation bar */
.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: 1;
    background: rgb(0, 0, 0, 0.35);
    width: 100%;
}

.navbar .navbar_logo{
    width: 50px;
    filter: brightness(0) invert(1);
}

.navbar h1{
    color: white;
    font-size: 28px;
    font-weight: 900;
    padding: 0 10px;
}

.home{
    position: relative;
}

.home .video_bg{
    width: 100%;
    height: 100vh;
}

.home .video_bg video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.home .password_generator{
    width: 700px;
    height: 300px;
    background: rgb(0, 0, 0, 0.35);
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
}

.home .password_generator label{
    display: inline-block;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: white;
}

.home .password_generator .content_group_1{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
}

.home .password_generator .content_group_1 .display_box{
    flex: 80%;
}

.home .password_generator .content_group_1 button{
    width: 30px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .password_generator .content_group_1 img{
    width: 20px;
    filter: brightness(0);
}






.home .password_generator .content_group_2{
    display: flex;
    height: 30px;
    gap: 50px;
}

.home .password_generator .content_group_2 .password_type{
    border-radius: 30px;
    text-align: center;
    flex: 1;
  
}

.home .password_generator .content_group_2 .slider{
    background-color: white;
    border-radius: 30px;
    flex: 1;
}













